{% extends "layout.html" %}
{% block body %}
<form id="create-category" method="POST">
	<input type="text" id="category-name" name="name" />
	<span class="error" id="error-message"></span>
	<br/>
	<input type="submit" value="Creer" name="create" />
</form>
<section id="categories">
{% for category in categories %}
	<div class="category">
		{{category['name']}}
		<i class="edit-category-button fas fa-pen" id="edit-category-{{category['id_category']}}"></i>
		<i class="fas fa-times" id="delete-category-{{category['id_category']}}"></i>
	</div>
{% endfor %}
</section>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/modules/categories.js') }}"></script>
{% endblock %}
