{% extends "layout.html" %}
{% block body %}
<form id="create-category" method="POST">
	<input type="text" id="category-name" name="name" />
	<span class="error" id="error-message"></span>
	<br/>
	<input type="submit" value="Creer" name="create" />
</form>
<section id="categories">
{% for category in categories %}
	<div class="category">
		<span id="category-name-{{category['id_category']}}">{{category['name']}}</span>
		<form id="edit-category-{{category['id_category']}}" method="PUT" class="edit-category hidden">
			<input type="text" id="category-name" name="name" value="{{category['name']}}" />
			<input type="hidden" name="id_category" value="{{category['id_category']}}" />
			<span class="error" id="error-message"></span>
			<input type="submit" value="Mettre a jour" name="update" />
		</form>
		<i class="show-edit-category fas fa-pen" data-id-category="{{category['id_category']}}"></i>
		<i class="delete-category fas fa-times" data-id-category="{{category['id_category']}}"></i>
	</div>
{% endfor %}
</section>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/modules/categories.js') }}"></script>
{% endblock %}
